{% extends 'base.html' %}

{% block title %} Home Page {% endblock %}
{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_manage.css') }}">
{% endblock %}

{% block content %}
<div class="main container">
    <div class="row justify-content-center">
        <div class="col-md-18">
            <div class="card">
                <div class="card-header justify-content-center">gestion</div>
                    <div class="card-body">
                        <main>
                            <video id="video"  autoplay ></video>
                            <div class="container buttons align-items-center">
                                <button class="btn btn-primary" onclick="takeCapture()" id="click-photo">Click Photo</button>    
                            </div>
                            <form id="form" method="post">
                                <input type="hidden" name="filename" value="capture.jpeg" >
                            </form>
                        </main>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}

{% block js_include %}
<script src="{{ url_for('static', filename='js/index.js' ) }}" > </script>  
{% endblock %}